<% provide(:title, @member.lastname) %>
<div class="container">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">社員氏名</th>
          <td><%= @member.lastname %></td>
          <td><%= @member.firstname %></td>
          <td><%= @member.lastname_kana %></td>
          <td><%= @member.firstname_kana %></td>
      </tr>
      <tr>
        <th scope="row">続柄</th>
          <td><%= @family.relationship %></td>
      </tr>
      <tr>
        <th scope="row">名字</th>
          <td><%= @family.first_name %></td>
          <td><%= @family.firstname_kana %></td>
      </tr>
      <tr>
        <th scope="row">名前</th>
          <td><%= @family.last_name %></td>
          <td><%= @family.lastname_kana %></td>
      </tr>
      <tr>
        <th scope="row">生年月日</th></th>
          <td><%= @family.birthday %></td>
      </tr>
      <tr>
        <th scope="row">連絡先</th>
          <td><%= @family.contact_information %></td>
      </tr>
      <tr>
        <th scope="row">住所</th>
          <td><%= @family.address %></td>
      </tr>
    </tbody>
  </table>
</div>
<p id="notice"><%= notice %></p>
 <%= link_to '社員データ', member_path %>
 <%= link_to '配属先履歴', assignment_history_path %>
 <%= link_to '適正テスト点数', score_path %>
 <%= link_to '勤怠管理', time_record_path %>
 <%= link_to '検索', members_path %>